* {
	box-sizing: border-box
}

.block {
	display: block
}

html, body {
	background: #e3e0cf;
	color: #333
}

h1 {
	color: #89bdd3
}

.speisekarte {
	box-shadow: 0 0 6px #333;
	border: 1px solid #333
}

.speisekarte table {
	border-collapse: collapse
}

.speisekarte tr {
	cursor: pointer;
	background-color: #e3e3e3
}

.speisekarte tr th {
	background-color: #333;
	color: #89bdd3;
	padding: 20px 0px 20px 0;
	text-align: center;
	width: 33%
}

.speisekarte tr td {
	border-bottom: 1px solid #89bdd3;
	padding: 20px 0px 20px 20px;
	text-align: left;
	width: 33%
}

.speisekarte tr:hover {
	background-color: #89bdd3;
	color: white
}

.speisekarte tr:first-child td {
	border-top: 1px solid #89bdd3
}

.speisekarte tr:last-child td {
	border-bottom: none
}

.mybtn {
	cursor: pointer;
	padding: 10px
}

.mybtn_toggle {
	color: #aaa;
	background: #ddd
}

.btn_remove {
	color: red
}

.btn_payed {
	color: white;
	background-color: green
}

.verticalText {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	height: 100%;
	border: 1px solid black
}

.box {
	position: relative
}

.cart {
	list-style-type: none;
	padding-left: 0;
	box-shadow: 0 0 6px #333;
	border-radius: 10px;
	border: 1px solid #333;
	background-color: #f8fbfd;
	counter-reset: section
}

.cart .mybtn {
	float: right
}

.cart li {
	line-height: 40px;
	border-bottom: 1px dashed #89bdd3;
	padding: 20px
}

.cart li:last-child {
	border-bottom: none
}

.cart li span {
	vertical-align: middle
}

.cart li .counter:before {
	counter-increment: section;
	content: counter(section) ".";
	font-style: oblique
}

.cart input {
	position: absolute;
	left: 0;
	width: 100%
}

.cart .priceArea {
	text-align: right
}

.cart .price {
	margin-right: 20px
}

.bemerkungArea {
	margin-left: 30px;
	margin-right: 30px
}

.bemerkungArea span {
	cursor: pointer
}

.bemerkungArea div {
	border-left: 1px solid #89bdd3;
	background: #aed2e1
}

.warenkorb {
	margin-top: 30px
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}